<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <div class="container-fluid p-5">
        <h1 class="text-center">Text Editor</h1>
        <div class="btn_container">
            <button id="saveButton" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path
                        d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z" />
                </svg></button>
            <button id="boldButton" type="button" class="btn mb-2 btn-sm btn-outline-dark"
                data-mdb-ripple-initdata-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                    viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                    <path
                        d="M272-200v-560h221q65 0 120 40t55 111q0 51-23 78.5T602-491q25 11 55.5 41t30.5 90q0 89-65 124.5T501-200H272Zm121-112h104q48 0 58.5-24.5T566-372q0-11-10.5-35.5T494-432H393v120Zm0-228h93q33 0 48-17t15-38q0-24-17-39t-44-15h-95v109Z" />
                </svg></button>
            <button id="italicButton" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path d="M200-200v-100h160l120-360H320v-100h400v100H580L460-300h140v100H200Z" />
                </svg></button>
            <button id="underlineButton" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path
                        d="M200-120v-80h560v80H200Zm280-160q-101 0-157-63t-56-167v-330h103v336q0 56 28 91t82 35q54 0 82-35t28-91v-336h103v330q0 104-56 167t-157 63Z" />
                </svg></button>
            <button id="supButton" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path
                        d="M760-600v-80q0-17 11.5-28.5T800-720h80v-40H760v-40h120q17 0 28.5 11.5T920-760v40q0 17-11.5 28.5T880-680h-80v40h120v40H760ZM235-160l185-291-172-269h106l124 200h4l123-200h107L539-451l186 291H618L482-377h-4L342-160H235Z" />
                </svg></button>
            <button id="subButton" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path
                        d="M760-160v-80q0-17 11.5-28.5T800-280h80v-40H760v-40h120q17 0 28.5 11.5T920-320v40q0 17-11.5 28.5T880-240h-80v40h120v40H760Zm-525-80 185-291-172-269h106l124 200h4l123-200h107L539-531l186 291H618L482-457h-4L342-240H235Z" />
                </svg></button>
            <button id="strikeButton" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path d="M80-400v-80h800v80H80Zm340-160v-120H200v-120h560v120H540v120H420Zm0 400v-160h120v160H420Z" />
                </svg></button>
            <button id="fontButton" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path d="M280-160v-520H80v-120h520v120H400v520H280Zm360 0v-320H520v-120h360v120H760v320H640Z" />
                </svg></button>
            <button id="markButton" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path
                        d="M544-400 440-504 240-304l104 104 200-200Zm-47-161 104 104 199-199-104-104-199 199Zm-84-28 216 216-229 229q-24 24-56 24t-56-24l-2-2-26 26H60l126-126-2-2q-24-24-24-56t24-56l229-229Zm0 0 227-227q24-24 56-24t56 24l104 104q24 24 24 56t-24 56L629-373 413-589Z" />
                </svg></button>
            <button id="del" type="button" class="btn mb-2 btn-sm btn-outline-dark" data-mdb-ripple-init
                data-mdb-ripple-color="dark"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                    width="24px" fill="#5f6368">
                    <path
                        d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                </svg></button>
        </div>
        <div class="content_div border border-dark mb-3" contenteditable="true"></div>
        <div class="files_container">
            <h1 id="savedFileHeader" class="text-center">Saved Files</h1>
            <ul id="fileListUl" class="m-2"></ul>
        </div>
    </div>
    </main>

</body>

</html>